---
export const prerender = true;

import path from "node:path";
import { getSortedPosts } from "../../utils/content-utils";
import MainGridLayout from "../../layouts/MainGridLayout.astro";
import { formatDateToYYYYMMDD } from "../../utils/date-utils";

export async function getStaticPaths() {
	const blogEntries = await getSortedPosts();
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();

const lastModified = remarkPluginFrontmatter.lastModified 
    ? new Date(remarkPluginFrontmatter.lastModified) 
    : entry.data.published;
---

<MainGridLayout
	title={entry.data.title}
	description={entry.data.description}
>
	<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
		<div class="card-base z-10 px-6 md:px-9 pt-6 pb-4 post-content relative w-full ">
			<Content />
		</div>
	</div>
</MainGridLayout>